body
{
  background-color: darkmagenta;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
  font-style: oblique;
}
h1
{
    color: aqua;
    font-size: large;
    font-style: normal;
    background-color: aquamarine;
}